<h2>{{data}}</h2>
<div class="container w-50 rounded-5">

    

    <form action="" class="container text-center mt-5">
        <br><br><input (change)="acnoChange($event)" type="text"  class="form-control" id="user" [placeholder]="inputplaceholder"><br><br>
        <input (change)="passChange($event)" type="password"  placeholder="Password" class="form-control" id="pass"><br><br><br>
        <button type="submit" (click)="login()" class="btn btn-primary mb-4">LOGIN</button>
    </form>

</div>
