h1{
    color: white;
    margin-top: 20px;
    margin-left: 20px;
    font-family: 'Poppins', sans-serif;
}

#depo{
    margin-top: 25px;
    background-color: rgba(255, 255, 255, 0.09);
    width: 600px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
}
input{
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    padding: 0.6em;
    font-size: 1em;
    width: 100%;
    background-color: transparent;
    color: white;
    
}
h2{
    color: white;
    margin-top: 20px;
    margin-left: 20px;
    font-family: 'Poppins', sans-serif;
}
#wdrw{
    margin-top: 25px;
    background-color: rgba(255, 255, 255, 0.09);
    width: 600px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
a{
    text-decoration: none;
}

button{
    color: rgb(106, 198, 198);

}


#delete{
    /* margin-right: 30px;
    margin-top: 30px; */
    font-family: 'Poppins', sans-serif;
}
h6{
    font-family: 'Poppins', sans-serif;
}
#logout{
    width: 140px;
    font-family: 'Poppins', sans-serif;
}


