/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Akronim&family=Carter+One&family=Kaushan+Script&family=Noto+Sans:wght@500&family=Poppins&family=Rubik+Microbe&family=Satisfy&family=Train+One&family=Urbanist&display=swap');
body{
    background-image:url("https://i.postimg.cc/5tpMX3Z0/w1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 850px;



}
h1{
    font-family: 'Poppins', sans-serif;
    color: white;

}
h4{
    font-family: 'Noto Sans', sans-serif;
}

.style{
    
    opacity: 0;
}