
<div class="container w-50 mb-5" id="maindiv">

    <h2 class="text-center mt-2">Registration Form</h2>


    <form [formGroup]="registerForm" action="" class="container text-center mt-3" (ngSubmit)="register()">


        <div class="mt-3"><input formControlName="acno" type="text"  id="acno" name="accountnumber"
                placeholder="Account Number">
            <div *ngIf="this.registerForm.get('acno')?.errors && this.registerForm.get('acno')?.touched">
                <p class="text-danger">The input should only contain numbers</p>
            </div>
        </div>

        <div class="mt-5"><input formControlName="user" type="text" name="username"  id="user"
                placeholder="User Name">
            <div *ngIf="this.registerForm.get('acno')?.errors && this.registerForm.get('user')?.touched">
                <p class="text-danger">The input should only contain alphabets</p>
            </div>

        </div>

        <div class="mt-5"><input formControlName="pass" type="password" placeholder="Password" 
                name="password" id="pass">
            <div *ngIf="this.registerForm.get('acno')?.errors && this.registerForm.get('pass')?.touched">
                <p class="text-danger">The input should not contain any special characters
                <p>
            </div>
        </div>


        <div class="container mb-1"><button type="submit" class="btn btn-light mb-3 mt-5"><i
                    class="fa fa-light fa-user-plus"></i> SIGN UP</button></div>

    </form>

    <div class="text-center mt-1 mb-5 text-light">Already Registered? <a routerLink="">Click here</a></div>



</div>